%h1 Your cancel request has been sent, we will notify you once refund is make.

= render partial: "display_order_detail", locals: {order: @order}

%p Thank you for using SecretAlbums

%h3
  =link_to "SecretAlbums.com", "secretalbums.com"