%h1 Your cancel request has been undo, we will keep processing your order.

= render partial: "display_order_detail", locals: {order: @order}

%p Thank you for using SecreAlbums

%h3
  =link_to "SecretAlbums.com", "secretalbums.com"