%h1 Thanks for signing up, #{@user.name}!
%p Thanks for joining and have a great day! Now you can sign in and create your own secret albums.
%p If you have any questions, contact us at help@secretalbums.com

%p Sincerely
%h3
  =link_to "SecretAlbums.com", "secretalbums.com"