.how-it-works-step
  .col-md-12.col-xs-12
    %h2.step-text
      #{step}:
  .col-md-12.col-xs-12.row-eq-height
    .col-md-2.col-xs-4.step-icon
      = image_tag(image_url(picture))
    .col-md-10.col-xs-8
      %h3.step-title 
        #{title}
      %p.step-description 
        #{description}