.album-page-body 
  .row-eq-height.landscape-photo-page
    = render partial: 'memo', locals: {memo: memo, droppable: droppable}
    = render partial: 'photo', locals: {memo: memo, picture: picture, droppable: droppable}