<div class="row">
  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <h1> SecretBox: an non-instant sharing website</h1>
      <p> Spend some time, share the amazing moment with your love one.</p>
      <a href="#" class="btn btn-lg btn-success">Learn More</a>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>


<div class="row">
  <div class="well">
    <h2 class="text-left">Secret Diary</h2>            
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive" src="http://dummyimage.com/800x360" alt="Chania" width="800" height="360">
              </div>

              <div class="item">
                <img class="img-responsive" src="http://dummyimage.com/800x361" alt="Chania" width="800" height="360">
              </div>
    
              <div class="item">                
                <img class="img-responsive" src="http://dummyimage.com/800x362" alt="Flower" width="800" height="360">
              </div>

              <div class="item">
                <img class="img-responsive" src="http://dummyimage.com/800x363" alt="Flower" width="800" height="360">
              </div>
            </div>
          </div>                
          <p>ssssskkkk</p>
        </div>

      </div>
    </div>

  </div>
</div>