<div class="container">
  <h2>Congratulations! Your order was successfully submitted!</h2>
  <p>We will process your album shortly.</p>
  <p>You can check your order in "My Orders"</p>
  <p>We will notice you when your album is ready and shipped, thank you for using secrect box.</p>
</div>