<div class="container">
  <h2>Congratulations! Your order was successfully submitted!</h2>
  <p>Please allow 3-5 days to process your album.</p>
  <p>We will notice you when your album is shipped, thank you for using secrect box.</p>
</div>