.outer-container
  .container
    .album-new-content
      %h1 Create New Photo Album
      = render 'search_sample', url: new_album_path
      = render 'form', action: "Create", back_url: albums_path