.container{"ng-app" => "SecretAlbum"}
  %h1 Testing AngularJs
  %div{"ng-controller" => "PhotoController as PhotoCtrl"}
    %label Name:
    %input{"ng-model" => "yourName", :placeholder => "Enter Your Name Here", :type => "text"}/
    %hr/
    %h2 Hello {{yourName}}
    %ul
      %li{"ng-repeat" => "photo in photos"}
        {{photo.picture.url}}
