.container
  %h1 
    album view only mode
    = link_to @album, class: 'btn btn-success' do
      %i.glyphicon.glyphicon-info-sign
      %span
        Back
  .row
    - if @album.sample_album.orientation == "landscape"
      .photo-landscape-page
        .col-md-6
          .row.well.view-photo-page-left
            - @photos_left_page.each do |photo|
              = render 'albums/view_only_partial/view_landscape_left', :album => @album, :photo => photo
        .col-md-6
          .row.well.view-photo-page-right
            - @photos_right_page.each do |photo|
              = render 'albums/view_only_partial/view_landscape_right', :album => @album, :photo => photo
  #page_links.text-center
    = paginate @photos  