<div class="container">
  <h1>My Orders</h1>
  <% if @orders.count > 0 %>
  <p>Notes: Order Status indicate how order is processed. </p>
  <ul>
    <li>Submmited: your order was created, but you have not paid yet.</li>
    <li>In Progress: order payment received, we are creating your album.</li>
    <li>Shipped: your order was ready and shipped.</li>
  </ul>
  <p>any changes on your album after order is "In Progress" status may not change the actual order</p>
  <%= render partial: "list" %>
  <% else %>
  <p> Sorry, your don't have any order </p>
  <% end %>
</div>