<div class="container">
  <h1>My Orders</h1>
  <% if @orders.count > 0 %>
  <p>Notes: Order Status indicate how order is processed. </p>
  <ul>
    <li>Pending: your order was created, but you have not checkout yet.</li>
    <li>Submitted: your order was checkout out, order will be processed shortly.</li>
    <li>In Progress: actual album in progress, any changes may not apply.</li>
    <li>Shipped: your order was ready and shipped.</li>
    <li>Delivered: your order was delivered, thank you for using Secrect Album.</li>
  </ul>
  <p>any changes on your album after order is "In Progress" status may not change the actual order</p>
  <%= render partial: "list" %>
  
  <div class="col-md-12 text-center">
    <%= will_paginate @orders %>
  </div>
  <% else %>
  <p> Sorry, your don't have any order.</p>
  <p> Try to Create one? <%= link_to "Create Album", albums_path, class: "btn btn-success" %></p>
  <% end %>
</div>