.container
  %h1 My Orders
  - if @orders.count > 0
    %p Notes: Order Status indicate how order is processed.
    %ul
      %li 
        %span.text-red Pending: 
        your order was created, but you have not checkout yet.
      %li 
        %span.text-red Submitted: 
        your order was checkout out, order will be processed shortly.
      %li 
        %span.text-red Request Cancelation: 
        your cancelation request has been send, refund will be make shortly.
      %li 
        %span.text-red Cancel: 
        your order cancelation is confirm, full refund will be available wihtin 3 days.
      %li 
        %span.text-red In Progress: 
        actual album in progress, you cannot cancel order this time.
      %li 
        %span.text-red Shipped: 
        your order was ready and shipped, tracking information is also available.
    %p any changes on your album(Insert/Change Photos) after order is "In Progress" status will not apply.
    = render partial: "list"
    .col-md-12.text-center
      = paginate @orders
  - else
    %p Sorry, your don't have any order.
    %p
      Try to Create one? #{link_to "Create Album", albums_path, class: "btn btn-success"}
