.container
  %h1 Upload Photos
  %p upload photos to the Photo-Box, and drag them to the album
  = form_for [@album, @picture] do |f|
    .form-group
      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span 
          Add Pictures
          = file_field(:picture, :context, multiple: true, id: 'picture_upload')
          /= f.file_field :context, multiple: true
    %button.btn.btn-success#start-upload
      Start-Upload
    = f.submit "Upload", class: 'btn btn-success'
    = link_to "Cancel", pictures_path, class: 'btn btn-danger'
    .progress.progress-striped.active{:role => "progressbar", "aria-valuemin" => "0", "aria-valuemax" => "100", "aria-valuenow" => 0}
      #progress-all-bar.progress-bar.progress-bar-success{:style => "width:0%"}
  %button#test-files.btn.btn-primary
    Click Me
  %table.table.table-striped{:role => "presentation"}
    %tbody#files

%script#template-upload{:type => "text/x-tmpl"}
  %tr.template-upload.fade.in
    %td
      %span
        %img.preview{:width => '80', :height => '80'}
    %td
      %span.name
        {%= o.name %}
    %td
      %p.size
        {%=formatFileSize(o.size)%}
      .progress.progress-striped.active{:role => "progressbar", "aria-valuemin" => "0", "aria-valuemax" => "100", "aria-valuenow" => 0}
        .progress-bar.progress-bar-success{:style => "width:0%"}