.row.album-page-body
  = render 'photo_header', :album => @album, :photo => photo
  .row.landscape-photo-page
    = render 'memo', :album => @album, :photo => photo
    = render 'photo', :album => @album, :photo => photo
