<div class="col-md-2 memo" data-album-id=<%= album.id %> data-photo-id=<%= photo.id %>>
  <h3> Memo: </h3>
    <textarea class="memo_body" id=<%="photo_memo_" + photo.id.to_s%> col="16" row="8"><%= photo.memo %></textarea>
</div>