.col-xs-9.col-md-8.col-md-offset-1.equal-height.landscape-picture{"data-album" => album.id, "data-photo"=>photo.id, "data-photo"=>photo.id, :ondrop =>"drop(event)", "ondragover" =>"allowDrop(event)" }
  - if photo.picture
    = image_tag(photo.picture.context.url, class: "img-responsive", id: "picture_id_" + photo.picture.id.to_s, "data-picture": photo.picture.id, |
      draggable: "true", ondragstart: "drag(event)")                                                                                             
