.droppable-photo{ album.sample_album.has_memo == "Yes" ? {class: "col-xs-9 col-md-10"} : {class: "no-memo-photo col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1"}, "data-album" => album.slug, "data-photo"=>photo.id, "data-photo"=>photo.id, "id" => "album_photo_#{photo.id}"}
  - if photo.picture
    - if album.sample_album.orientation == "landscape"
      = image_tag(photo.picture.context.url, class: "img-responsive draggable-photo thumbnail", id: "picture_id_" + photo.picture.id.to_s, "data-picture": photo.picture.id, "data-orientation": "landscape")
    - else
      = image_tag(photo.picture.context.portrait.url, class: "img-responsive draggable-photo thumbnail", id: "picture_id_" + photo.picture.id.to_s, "data-picture": photo.picture.id, "data-orientation": "portrait")