.col-xs-9.col-md-9.droppable-photo{"data-album" => album.slug, "data-photo"=>photo.id, "data-photo"=>photo.id, "id" => "album_photo_#{photo.id}"}
  - if photo.picture
    - if album.sample_album.orientation == "landscape"
      = image_tag(photo.picture.context.url, class: "img-responsive draggable-photo thumbnail", id: "picture_id_" + photo.picture.id.to_s, "data-picture": photo.picture.id, "data-orientation": "landscape")
    - else
      = image_tag(photo.picture.context.portrait.url, class: "img-responsive draggable-photo thumbnail", id: "picture_id_" + photo.picture.id.to_s, "data-picture": photo.picture.id, "data-orientation": "portrait")