.row.text-left.photo-header
  .col-md-12.col-xs-12
    = link_to insert_album_photo_path(@album, photo), class: "btn btn-success", :method => :post do
      /%span.glyphicon.glyphicon-plus   
      Insert
    /= link_to append_album_photo_path(@album, photo), class: "btn btn-primary", :method => :post do
    /  Append
    = link_to album_photo_path(@album, photo), class: "btn btn-danger", data: {:confirm => 'Are you sure to delete this photo?'}, :method => :delete do
      Delete
    .pull-right
      %h5
        Photo_No:#{photo.photo_number}
        /.col-md-4.col-xs-4.text-right