.col-xs-9.col-md-9.droppable-photo{"data-album" => album.id, "data-photo"=>photo.id, "data-photo"=>photo.id}
  - if photo.picture
    = image_tag(photo.picture.context.url, class: "img-responsive draggable-photo", id: "picture_id_" + photo.picture.id.to_s, "data-picture": photo.picture.id)                                                                                             
