.album-page-body 
  .row.row-eq-height
    - if @album.sample_album.has_memo == "Yes"
      = render partial: 'memo', locals: {album: @album, photo: photo}
    = render partial: 'photo', locals: {album: @album, photo: photo}