<div class="container">
  <h1>Upload Photos</h1>
  <p>upload photos to the Photo-Box, and drag them to the album</p>

  <%= form_for [@album, @photo] do |f| %>

    <div class="form-group">
      <%= f.file_field :picture, multiple: true %>
    </div>

    <div class="form-group text-left">
      <%= f.submit "Upload", class: 'btn btn-success' %>
      <%= link_to "Cancel", album_photos_path(@album), class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>