.outer-container {
  background: #f1f1f1;
}

.album-new-content {
  font-family: 'Oswald', sans-serif;
  background: white;
  
}

.form-input {
  padding:10px;
}

.album-page-header {
  background: #d5e9f6;
  margin-bottom: 20px;
}

.album-page-body {
}

.album-summary-title {
  font-size: 2.0em;
}

#album_cover_descption {
  margin-top: 10px;
}

#album_description {
  word-wrap: break-word;
  font-size: 1.2em;
}

#album_cover {
  width: 100%;
}

#album_attrs {
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 1.2em;
}

#album_attr {
  padding: 10px;
}

.page-preview {
  margin-top: 20px;
}

.album_layout {
  border: 1px solid black;
}

.album_page_attrs {
  font-size: 1.0em;
  text-align: left;
}

.row-odd{
  background: #dfebed;
}

.cell {
  
}

.cover-page {
 max-width: 640px; 
}

.album-status {
  padding-top: 20px;
}

label {
  font-size: 1.5em;
  padding: 6px;
}

.new-album-btn {
  margin-top: 20px;
  margin-bottom: 50px;
}

.albums-index {
  font-family: 'Oswald', sans-serif;
}

.albums-index-header {
  margin-bottom: 30px;
}

.albums-index-list {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.album-index-album-name {
  text-align: center;
  font-size: 1.5em;
}

.album-show {
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.album-show-layout {
  margin-top: 40px;
}

.album-show-progress-container {
  width: 100%;
  background: #eeeeee;
}

.album-show-progress-bar {
}

.progress-text {
  color: white;
}


/*
  Album Order page
*/

#order-hand-writing-mem {

}