/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require jquery-ui
 *= require font-awesome
 *= require_self
 *= require_tree .
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@Import 'bootstrap-select';

@media (min-width: 1501px) {
  .photo-portrait-page {
    max-width: 600px;
  }
  
  .album-photos-index {
    max-width: 750px;
  }
  
  .memo_body {
    font-size: 31px;
  }
  .view_memo_body {
    font-size: 19px;
  }
  
  .right-panel {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 20%;
    height: 82%;
  }
  
  .photo-box-content {
    height: 90%;
  }
  .right-panel img {
    margin: 0 auto;
  }
  
  .panel-landscape img{
    width: 80%;
  }
  
  .panel-portrait img {
    width: 45%;
    display: inline;
  }
}

@media (max-width: $screen-xs) {

  div[class*="portrait-"] {
    width: 360px;
  }
  .view_photo_memo {
    font-size: 11px;
  }
  
  .memo_body {
    font-size: 10px;
  }
  
  .photo-box-content {
    padding: 20px;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    height: 170px;
  }
  
  .right-panel img {
    height: 100%;
    display: inline;
  }
}

@media (min-width: $screen-md) and (max-width: 1500px){
  
  .photo-portrait-page {
    max-width: 400px;
  }
  
  
  .album-photos-index {
    max-width: 600px;
  }
  
  div[class*="portrait-"] {
    width: 540px;
  }
  
  .memo_body {
    font-size: 31px;
  }
  .view_memo_body {
    font-size: 20px;
  }
  
  .right-panel {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 20%;
    height: 82%;
  }
  
  .photo-box-content {
    height: 90%;
  }
  .right-panel img {
    margin: 0 auto;
  }
  
  .panel-landscape img{
    width: 80%;
  }
  
  .panel-portrait img {
    width: 45%;
    display: inline;
  }
}

body {

}

.row-eq-height{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.thumbnail {
  margin-bottom: 0px;
}

.md-scroll-mask {
  position: initial;
}


.center {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.navigation-bar {
  height: 40px;
  width: 100%;
  background: #333333;
}

.navigation {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  background: #333333;
}

.header {
  display: block;
}

.navbar-brand {
  padding: 20px 20px;
  font-size: 1.8em;
}

.navbar-right {
  margin-right: 20px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-header {
  margin-left: 20px;
}

.footer {
  width: 100%;
  height: 50px;
  background: #333333;
}

.footer-text {
  color: white;
  padding: 15px;
}

.sign-in {
  max-width: 600px;
}

.connect-with-socials {
  padding: 50px 0 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.social-icon {
  width: 40px;
}

.social-text {
  margin-left: 20px;
}

.btn-outline-primary {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
  margin-bottom: 20px;
}

.btn-outline-primary:hover {
  background: #4ae;
}