/*
  order new
*/
.order-shippment {
  margin-top: 20px;
}

#order-urgent {
  display: none;
}

/*
  order checkout
*/

.checkout-order-summary {
  max-width: 850px;
}

.checkout-order-avatar {
  text-align: center;
}

.order-avatar {
  max-height: 30%;
}