div[class*="photo-page"] {
  height: 100%;
}

.photo-action-icons .thumbnail {
  display: inline;
}

.photo-action-icons {
  margin-bottom: 10px;
}

.album-page-body {
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.album-photos-index {
  max-width: 900px;
}

.photo-memo {
  margin: auto;
}

.memo {
  word-wrap: break-word;
  height: 100%;
}

#edit_memo {
  position: absolute;
  margin-left: 15px;
}

.memo_body {
  resize: none;
  background: #eeeeee;
  width: 100%;
}

.action-icon {
  height: 70px;
  width: 70px;
}

.action-insert{
  background-image: image_url("image-insert-icon");
  background-size: cover;
  width: 100%;
}

.action-delete{
  background-image: image_url("image-delete-icon");
  background-size: cover;
  width: 100%;
}


.droppable-photo {
  background-image: url("http://placehold.it/750x500");
  background-position: center; 
  padding-left: 0px;
  padding-right: 0px;
}

.landscape-photo-page {
}

.portrait-picture {
}

.portrait-photo-page {
}

.photo-page-left {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 20px solid black;
  border-radius: 10px;
}

.photo-page-right {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-right: 20px solid black;
  border-radius: 10px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo-header {
  padding: 10px;
  height: 40px;
}


/* left panel relative class
    beigin here
*/
span.glyphicon {
    font-size: 30px;  
}

.right-panel-toggle {
  position: fixed;
  right: 0%;
  top: 16%;
}

.right-panel {
  background: #eeeeee;

}

.photo-box-content {
  overflow: auto;
}

.photo-box-footer {
  height: 10%;
  border: 1px solid green;
}

.right-panel img {
  padding: 10px;
}

.photo-box {
  width: 200px;
  height: 30px;
  margin-bottom: 0;
  bottom: 0;
  right: 30px;
  position: fixed;
}

.photo-box-btn {
  width: 100%;
  display: none;
}

.photo-box-top-btn {
  width: 100%;
}

/* portrait page 
*/

div[class*="portrait-"] {
  margin: auto;
}