.album-page-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.album-photos-index {
  max-width: 900px;
}

.memo {
  word-wrap: break-word;
  border: 1px solid black;
  height: 100%;
}

#edit_memo {
  position: absolute;
  margin-left: 15px;
}

.memo_body {
  background: #eeeeee;
  width: 100%;
}

.droppable-photo {
  background-image: url("http://placehold.it/750x500");
  background-position: center; 
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid black;
}

.landscape-photo-page {
}

.portrait-picture {
}

.portrait-photo-page {
}

.photo-page-left {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 20px solid black;
  border-radius: 10px;
}

.photo-page-right {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-right: 20px solid black;
  border-radius: 10px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo-header {
  padding: 10px;
  height: 40px;
}


/* left panel relative class
    beigin here
*/
span.glyphicon {
    font-size: 30px;  
}

.right-panel-toggle {
  position: fixed;
  right: 0%;
  top: 16%;
}

.right-panel {
  background: #eeeeee;

}

.photo-box-content {
  overflow: auto;
}

.photo-box-footer {
  height: 10%;
  border: 1px solid green;
}

.right-panel img {
  padding: 10px;
}

.photo-box {
  width: 200px;
  height: 30px;
  margin-bottom: 0;
  bottom: 0;
  right: 30px;
  position: fixed;
}

.photo-box-btn {
  width: 100%;
  display: none;
}

.photo-box-top-btn {
  width: 100%;
}