// Place all the styles related to the SampleAlbums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sample_album_block {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}